<div class="panel panel-default" ng-init="getSelectedDate()">
 	<div class="input-group">  
	 	<center>
	 		<h1>The Connected Home</h1>
	 		<h4>Your home in the cloud.</h4>
	 		<p>Input a search date to view available data:</p>
		   	<span class="input-group-btn">
		      <button id="search-button" class="btn btn-default"  >Search
		      </button>
		    </span>
		</center> 
		<input id="selected-date" type="text" class="form-control" placeholder="yyyy-mm-dd" align="center">
	    <script type="text/javascript">
	    </script>
  </div><!-- /input-group -->
</div>
