<div class="panel panel-default" ng-init="postDevice()">

 	<div class="input-group">  
	 	<center>
	 		<br>
		 	<p>Your device is not registered! Register Here!</p>
		 	<br>
	 		<h1>Device Registration</h1>
	 		<h4>Register a new device to the network.</h4>
	 		<p>Input your device details:</p>
	 		<br><br>
		
		<div class = "row">
			<div class="col-sm-3">
			<p>Device Name: </p>
			<p>IMEI: </p>
			</div>
			<div class="col-sm-8">
		<input id="device-name" type="text" class="form-control" placeholder="e.g. Office or Living Room" align="center">
		<input id="IMEI" type="text" class="form-control" placeholder="IMEI Number" align="center">
			</div>
		</div>

		<br><br>
	   	<span class="input-group-btn">
	      <button id="register-button" class="btn btn-default"  >Register
	      </button>
	    </span>
		</center> 

	</div>

	    <script type="text/javascript">
	    </script>
  </div><!-- /input-group -->
</div>
